.encabezado-sitio .navbar {
  --bs-navbar-active-color: var(--bs-secondary);
  --bs-navbar-hover-color: var(--bs-secondary);
  background-color: var(--bs-secondary-bg);
  border-bottom: 3px solid var(--bs-secondary);
}

.encabezado-sitio .navbar-brand {
  font-family: "Anton", sans-serif;
  letter-spacing: .045em;
  text-transform: uppercase;
}
