.encabezado-sitio .navbar {
  background-color: var(--bs-secondary-bg);
}

.encabezado-sitio .navbar-brand {
  font-family: "Anton", sans-serif;
  letter-spacing: .045em;
  text-transform: uppercase;
}
